input[type="text"],
input[type="email"],
textarea
{
    margin: 1rem 0 0 0;
    border: none;
    border-radius: 10px;
    font-family: 'Syne', sans-serif;
}

.form-contact-label{
    font-family: 'Syne', sans-serif;
    
}
.wpcf7-form-control.wpcf7-submit {
    display: block;
    margin: 0 auto;
    background-color: #E0B9B4;
   font-family: 'Syne', sans-serif;
   font-size: 14px;
   text-transform: initial;
 }

 // Commander
 .wpcf7 .cmd-container p{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
 }
 
 .wpcf7 .cmd-container p img{
    width: 25%;
 }