/* .test{    
    color: green;
    &:hover{       
        color: red
    } 
}
 */
$color-btn-font: #fff;
$color-font: #000;
$color-hover: #DC9F96;
$color-active: #C02E44;


@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import "header.scss";
@import "footer.scss";
@import "home.scss";
@import "contact_form.scss";
